<h3 class="card-header text-center font-weight-bold py-4">Ver Produto</h3>
<div class="container">
  <div class="custom-container">
    <br />

    <!-- Nome -->
    <mat-form-field>
      <input matInput placeholder="Nome do produto" [(ngModel)]="name" readonly>
    </mat-form-field>

    <!-- Categoria -->
    <mat-form-field>
      <input matInput [value]="categoryName" placeholder="Categoria" readonly>
    </mat-form-field>

    <!-- Alturas -->
    <mat-form-field>
      <input matInput placeholder="Alturas" [(ngModel)]="height_disc||  height_min + '-' + height_max" readonly>
    </mat-form-field>

    <!-- Larguras -->
    <mat-form-field>
      <input matInput placeholder="Larguras" [(ngModel)]="width_disc|| width_min + '-' + width_max" readonly>
    </mat-form-field>

    <!-- Profundidades -->
    <mat-form-field>
      <input matInput placeholder="Profundidades" [(ngModel)]="depth_disc || depth_min + '-' + depth_max " readonly>
    </mat-form-field>

    <!-- Min ocupacao -->
    <mat-form-field>
      <input matInput placeholder="% Minima Ocupação" [value]="minOccup" readonly>
    </mat-form-field>

    <!-- Max ocupacao -->
    <mat-form-field>
      <input matInput placeholder="% Máxima Ocupação" [value]="maxOccup" readonly>
    </mat-form-field>

    <!-- Partes -->
    <mat-form-field id="formpequena">
      <mat-select [(ngModel)]="part" placeholder="Produtos Opcionais">
        <mat-option *ngFor="let part of parts" [value]="part">
          {{part.product.name}} (<label id="{{part.product.name}}" style="display:inline-block;">{{part.optional}}</label>)
        </mat-option>
      </mat-select>
    </mat-form-field>

    <!-- Materiais Acabamentos -->
    <mat-card *ngFor="let materialfinish of materialfinishes" class="example-card" style="width:200px;float:left;margin-top:30px;margin-right: 30px;">
      <mat-card-header style="text-align:left;">
        <mat-card-title style="font-size:medium;">{{materialfinish.materialDTO.name}}</mat-card-title>
        <mat-card-subtitle>{{materialfinish.surfaceFinishDTO.name}}</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="{{materialfinish.textureUrl}}">
      <mat-card-actions>

      </mat-card-actions>
    </mat-card>

  </div>
  <div class="sic-row">
    <button type="button" (click)="editProduct()" matTooltip="Editar" class="btn btn-primary btn-md">Editar</button>
    <button type="button" (click)="deleteProduct()" matTooltip="Apagar este Produto" class="btn btn-primary btn-md">Apagar</button>
    <button type="button" (click)="back()" matTooltip="Cancelar" class="btn btn-light btn-md">Retroceder</button>
  </div>
</div>
