<div class="container"><br />
<h1 class="text-center">Bem-vindo</h1>
<!-- Extended material form grid -->
<form class="form-group">
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fa fa-user prefix"></i>
        <input [(ngModel)]="_username" name="username" mdbInputDirective type="text" class="form-control" placeholder="Nome de utilizador" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fa fa-lock prefix"></i>
        <input [(ngModel)]="_password" name="password" mdbInputDirective type="password" class="form-control" placeholder="Palavra-passe" required>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fas fa-key prefix"></i>
        <input [(ngModel)]="token" name="token" mdbInputDirective type="text" class="form-control" placeholder="Código" aria-describedby="tokenPwdHelpBlock">
        <small id="tokenHelpBlock" class="form-text text-muted">
          Para se autenticar, escreva o código de 6 dígitos fornecido pela aplicação Google Authenticator (apenas obrigatório para clientes).
        </small>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <button type="submit" (click)="login()" matTooltip="Iniciar sessão" class="btn btn-primary btn-md">Entrar</button>
  Não tem uma conta? <a routerLink="/signup">Crie uma.</a>
</form>
<!-- Extended material form grid -->
</div>
