<!--Navbar-->
<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo">

  <!-- Navbar brand -->
  <mdb-navbar-brand><a class="navbar-brand" href="/sicproductions">{{title}}</a></mdb-navbar-brand>

  <!-- Collapsible content -->
  <links>

    <!-- Links -->
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link waves-light" mdbWavesEffect routerLink="/home" routerLinkActive="active">Página Inicial</a>
      </li>

      <!-- Dropdown -->
      <li *ngIf="authenticated" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          BackOffice<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/surfaceFinishes">Acabamentos</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/materials">Materiais</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/materialfinishes">Materiais Acabamentos</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/categories">Categorias</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/products">Produtos</a>
          <div class="divider dropdown-divider"></div>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/collections">Coleções</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/catalogues">Catálogos</a>
        </div>
      </li>
      <!-- Dropdown -->
      <li *ngIf="authenticated" class="nav-item dropdown" dropdown>
        <a dropdownToggle mdbWavesEffect type="button" class="nav-link dropdown-toggle waves-light" mdbWavesEffect>
          Área de Cliente<span class="caret"></span>
        </a>
        <div *dropdownMenu class="dropdown-menu dropdown dropdown-primary" role="menu">
          <a class="dropdown-item waves-light" mdbWavesEffect href="#">Encomendas</a>
          <a class="dropdown-item waves-light" mdbWavesEffect routerLink="/productConfigurator">Projetar e configurar produto</a>
        </div>
      </li>

    </ul>
    <div class="navbar-expand ml-auto navbar-nav">
      <div *ngIf="!authenticated" class="navbar-nav">
        <a class="nav-item nav-link" routerLink="/signup" routerLinkActive="active">
          <i class="fa fa-user-plus"></i> Registar
        </a>
        <a class="nav-item nav-link" routerLink="/login" routerLinkActive="active">
          <i class="fa fa-sign-in"></i> Entrar
        </a>
      </div>
      <div *ngIf="authenticated" class="navbar-nav">
        <a class="nav-item nav-link" (click)="logout()" routerLinkActive="active">
          <i class="fas fa-sign-out-alt"></i>Terminar Sessão
        </a>
      </div>
    </div>
    <!-- Links -->
  </links>
  <!-- Collapsible content -->
</mdb-navbar>
<!--/.Navbar-->
