<div class="container">
<br />
<h1 class="text-center">Criar uma conta</h1>
<!-- Extended material form grid -->
<form class="form-group">
  <div class="sic-row">
    <div class="sic-column">
      <label for="radioGroup">Registar-se como</label>
    <br>
  <mat-radio-group id="radioGroup" [(ngModel)]="_isClient" name="isClient">
    <mat-radio-button [value]="true">Cliente</mat-radio-button>
    <mat-radio-button [value]="false">Gestor de Conteúdos</mat-radio-button>
  </mat-radio-group>
  </div>
  </div>
  <!-- Grid row -->
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fa fa-user prefix"></i>
        <input [(ngModel)]="_username" mdbInputDirective type="text" name="username" class="form-control" placeholder="Nome de utilizador" required>
      </div>
    </div>
  </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fa fa-lock prefix"></i>
        <input [(ngModel)]="_password" mdbInputDirective type="password" name="password" class="form-control" placeholder="Palavra-passe" required>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <div class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fa fa-lock prefix"></i>
        <input [(ngModel)]="_retypePassword" mdbInputDirective type="password" name="password" class="form-control" placeholder="Repetir palavra-passe" aria-describedby="pwdHelpBlock" required>
        <small id="pwdHelpBlock" class="form-text text-muted">
          A sua palavra-passe deverá conter pelo menos 6 caracteres, uma maiúscula, uma minúscula e um dígito.
        </small>
      </div>
    </div>
    <!-- Grid column -->
  </div>
  <div *ngIf="!_isClient" class="form-row">
    <!-- Grid column -->
    <div class="col-md-6">
      <!-- Material input -->
      <div class="md-form form-group">
        <i class="fas fa-key prefix"></i>
        <input [(ngModel)]="_companyPassword" mdbInputDirective type="password" name="password" class="form-control" placeholder="Palavra-passe da empresa" aria-describedby="companyPwdHelpBlock" required>
        <small id="companyPwdHelpBlock" class="form-text text-muted">
          Para se registar como gestor de conteúdos necessita de introduzir a palavra-passe fornecida pela empresa.
        </small>
      </div>
    </div>
    <!-- Grid column -->
  </div>

  <mat-checkbox [(ngModel)]="_checked" name="checkedTermsAndConditions" color="primary">Aceito os <a routerLink="/TermsAndConditions">Termos e Condições</a>.</mat-checkbox>
  <br />
  <!-- Grid row -->
  <button type="submit" (click)="signUp()" matTooltip="Criar uma conta" class="btn btn-primary btn-md">Registar</button>

</form>
</div>
