/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~bootstrap/dist/css/bootstrap.css";
@import "~font-awesome/css/font-awesome.css";

.example-container {
  height: 515px;
  overflow: auto;
}

.custom-container {
  display: flex;
  flex-direction: column;
}

  .custom-container > * {
    width: 100%;
  }

.sic-row {
  display: table;
  width: 100%; /*Optional*/
  table-layout: fixed; /*Optional*/
  border-spacing: 10px; /*Optional*/
}

.sic-column {
  display: table-cell;
}

.footer {
  position: fixed;
  bottom: 0;
  width: 100%;
}
