<div class="container">
  <br />
  <h2 class="text-center">Termos e Condições - Informação referente ao tratamento de dados pessoais</h2>
  <br>
  <ul>
    <li class="list-group-item"><b>1. Responsável pelo tratamento</b><br><br>
    Stock in Closet Productions S.A. («SICProductions»), com sede na Rua Dr. António Bernardino de Almeida, 431
      4249-015 Porto, pessoa coletiva nº 999 999 999, matriculada na Conservatória do Registo Comercial do Porto, com o
      capital social de EUR 11.000.000,00.
    </li>
    <li class="list-group-item"><b>2. Contacto do encarregado da proteção de dados</b><br><br>
      <a href="mailto:compliance.rgpd@sicproductions.pt">compliance.rgpd@sicproductions.pt</a>
    </li>
    <li class="list-group-item"><b>3. Finalidade</b><br><br>
      Entregar as encomendas feitas pelo utilizador através da WebApp SICProductions na morada indicada.
    </li>
    <li class="list-group-item"><b>4. Fundamento Jurídico</b><br><br>
      O consentimento expresso do utilizador: o utilizador pode retirar o seu consentimento a todo o tempo através da app
      em "O meu perfil" > "Privacidade".
    </li>
    <li class="list-group-item"><b>5. Categorias de dados pessoais a tratar</b><br><br>
      Nome da cidade de entrega e respetivas coordenadas geográficas (morada do cliente).
    </li>
    <li class="list-group-item"><b>6. Destinatários dos dados pessoais</b><br><br>
      Entidades contratadas pela SICProductions para a prestação de serviços que compreendam tratamento de dados
      pessoais por sua conta, entidades as quais deverão atuar mediante instruções da SICProductions.
    </li>
    <li class="list-group-item"><b>7. Prazo de conservação dos dados pessoais</b><br><br>
      Até que o titular dos dados pessoais retire o seu consentimento ou recuse receber mais encomendas, ou pelo período
      de um ano após o fim da adesão à WebApp SICProductions.
    </li>
    <li class="list-group-item"><b>8. Direitos do titular dos dados pessoais</b><br><br>
      Pode solicitar o acesso aos seus dados pessoais, a sua retificação ou o apagamento, a limitação do tratamento;
      pode também opor-se ao tratamento e pedir a portabilidade dos dados, nos termos da lei em vigor. Para isso deverá enviar
      um pedido escrito ao encarregado da proteção de dados da SICProductions através do contacto acima indicado. Também
      tem o direito de apresentar uma reclamação à Comissão Nacional da Proteção de Dados, se entender que os seus direitos foram
      infringidos.
    </li>
  </ul>
</div>
